<%include file="header.html"/>
 this is a test for qeb.py and jquery ,highcharts,bootstrap </br>


<p>
	Selecting a country will perform three ajax calls:
	<ol>
		<li>
			The 'Regions from JSON' picker is populated using JSON and Javascript
		</li>
		<li>
			The 'Regions from HTML' picker is populated using HTML from the server
		</li>
		<li>
			A generic message is returned from the server.
		</li>
	</ol>
</p>
<hr />
Countries: 
<select id='countries'>
	<option value="" selected="selected">--Pick One--</option>
	<option value="Canada">Canada</option>
	<option value="USA">USA</option>
</select>

Regions from JSON: <select id='regions'></select>
Regions from HTML: <select id='regions2'></select>
<hr>

<div id="container" style="width:100%; height:400px;"></div>

<%include file="footer.html"/>
