<%include file="header.html"/>

	<div id="site_content">
		<div id="sidebar_container">
			<img class="paperclip" src="style/paperclip.png" alt="paperclip" />
			<div class="sidebar">
				<!-- insert your sidebar items here -->
				<h3>Latest News</h3>
				<h4>What's the News?</h4>
				<h5>1st July 2011</h5>
				<p>Put your latest news item here, or anything else you would like in the sidebar!<br /><a href="#">Read more</a></p>
			</div>
			<img class="paperclip" src="style/paperclip.png" alt="paperclip" />
			<div class="sidebar">
				<h3>Newsletter</h3>
				<p>If you would like to receive our newletter, please enter your email address and click 'Subscribe'.</p>
				<form method="post" action="#" id="subscribe">
					<p style="padding: 0 0 9px 0;"><input class="search" type="text" name="email_address" value="your email address" onclick="javascript: document.forms['subscribe'].email_address.value=''" /></p>
					<p><input class="subscribe" name="subscribe" type="submit" value="Subscribe" /></p>
				</form>
			</div>
			<img class="paperclip" src="style/paperclip.png" alt="paperclip" />
			<div class="sidebar">
				<h3>Latest Blog</h3>
				<h4>Website Goes Live</h4>
				<h5>1st July 2011</h5>
				<p>We have just launched our new website. Take a look around, we'd love to know what you think.....<br /><a href="#">read more</a></p>
			</div>
		</div>
		<div id="content">
			<p>
			This sample app demonstrates how to deliver an HTML/jQuery web application, 
			<hr />served by Python using web.py.
			</p>
			<p>
			A few notable items:
			<ul>
				<li>
				jQuery is not included in this source, rather referenced from Google Code. 
<hr />				(Change the header in base.html if you download a local copy.)
				</li>
				<li>
				This will not be a general demonstration of 'all things jQuery', <hr /> nor is it intended to be a 'how to' for building a web application.  <hr /> The purpose of this application is to demonstrate specific examples of commonly asked<hr /> questions in the web.py community.
				</li>
				<li>Code is arranged in a typical fashion, <hr /> attempting to follow best practice of code separation. <hr /> There is no script in the HTML files, <hr /> and (except for noted examples), ajax methods return JSON data instead of HTML markup.</li>
			</ul>
			</p>
		</div>
  </div>	  
		<hr />
		Most pages in this app (including this one) are delivered using web.py templates and the 'render' method. 
		<hr />
		However, keeping with the spirit of jQuery and Ajax, <hr /> web.py templates aren't used beyond delivery of the page. 
		<hr />
		Content is dynamic... that's the point!
		<h3>Examples</h3>
		<ul>
			<li>
			<a href="/ajaxdropdowns">An example of dropdown boxes populated by ajax.</a>
			</li>
		</ul>

<%include file="footer.html"/>
