<%include file="header.html"/>

	<div id="site_content">
		<div id="sidebar_container">
			<img class="paperclip" src="style/paperclip.png" alt="paperclip" />
			<div class="sidebar">
				<!-- insert your sidebar items here -->
				<ul>
				<br>
			<li><a href="/Topitems/2013/"><h6>天气寒凉多变 该如何预防风湿</h6> </a></li>
			<li><a href="/Topitems/2013/"><h6>秋季易发“心”病 力荐三大护心? </h6></a></li>
			<li><a href="/Topitems/2013/"><h6>1st July 2013</h6></a></li>
				<li><a href="#">Read more</a><h6>几个动作就可以强身健体!</h6></a></li><br />
				<li></li></ul>
			</div>
			<img class="paperclip" src="style/paperclip.png" alt="paperclip" />
			<div class="sidebar">
				<h3>秋冬季节多吃红薯防癌抗癌轻而易</h3>
				<p>烟民朋友多吃六种食物有效防肺癌 'Subscribe'.</p>
				<form method="post" action="#" id="subscribe">
					<p style="padding: 0 0 9px 0;"><input class="search" type="text" name="email_address" value="your email address" onclick="javascript: document.forms['subscribe'].email_address.value=''" /></p>
					<p><input class="subscribe" name="subscribe" type="submit" value="Subscribe" /></p>
				</form>
			</div>
			<img class="paperclip" src="style/paperclip.png" alt="paperclip" />
			<div class="sidebar">
				<h3>Latest Blog</h3>
				<h4>Website Goes Live</h4>
				<h5>1st July 2011</h5>
				<p>We have just launched our new website. Take a look around, we'd love to know what you think.....<br /><a href="#">read more</a></p>
			</div>
		</div>
		<div id="content">
			<p>
<TABLE cellSpacing=0 cellPadding=0 width="95%" border=0>
              <TR><TD width="23%">　</TD>
                <TD><a href="http://www.pharmnet.com.cn/tcm/zyxx/"><IMG src="images/products/lo.jpg"  border=0></a></TD>
              </TR>
              <TR><TD height=10></TD></TR>
              <TR>
                <TD width="23%" height="100%">　</TD>
                <TD width="76%" height="100%">
                  <P>
				     <A class=black href="/tcm/knowledge/zyjc/">中医基础</A> | 
				     <A class=black  href="/tcm/zyxx/#中医诊断">中医诊断</A> |
					 <A class=black  href="/tcm/zyxx/#中医内科">中医内科</A> | 
					 <A class=black  href="/tcm/zyxx/#中医妇科">中医妇科</A> | 
					 <A class=black  href="/tcm/zyxx/#中医儿科">中医儿科</A> |
					 <A class=black  href="/tcm/zyxx/#中医推拿">中医推拿</A> <BR>
					 <A class=black  href="/tcm/knowledge/zyzs/">中医知识</A> |
					 <A class=black  href="/tcm/knowledge/ycrs/">药材认识</A> |
					 <A class=black  href="/tcm/knowledge/zywh/">中医文化</A> |
					 <A class=black  href="/tcm/zyxx/cyfj/qingre/">常用方剂</A> |
					 <A class=black  href="/tcm/knowledge/zyys/">中医养生</A> |
					 <A class=black  href="/tcm/knowledge/yssl/">药膳食疗</A> <BR>
                               
                  </P>
				  </TD>
				  </TR>
              <TR>
                <TD height=10></TD></TR></TABLE>
				
			</p>

			<li><a href="/zhiliao/chuanranke/lxxgm/pfzl.html">[偏方治疗]</a>
			<a href="/news/2013/10">世界传统医药日：我国中药资源不乐观</a> <br>
			<li><a href="/zhiliao/chuanranke/lxxgm/pfzl.html">[偏方治疗]</a>  <a href="/news/2013/10">中英研究机构联手挖掘中药抗癌潜力</a> <br>
			 <li><a href="/zhiliao/chuanranke/lxxgm/pfzl.html">[偏方治疗]</a>  <a href="/news/2013/10">八万亿健康服务盛宴开启 基金看好中医药</a> <br>
			 <li><a href="/zhiliao/chuanranke/lxxgm/pfzl.html">[偏方治疗]</a>   <a href="/news/2013/10">我国将开展第四次中药资源普查</a> <br>
			<li><a href="/zhiliao/chuanranke/lxxgm/pfzl.html">[偏方治疗]</a>	 <a href="/news/2013/10">中央财政下拨14.9亿元支持中医药事业发展 </a> <br>
	
	</div>
			<ul>
			<li>
			<a href="/ajaxdropdowns">An example of dropdown boxes populated by ajax.</a>
			</li>
		</ul>
		
  </div>	  


<%include file="footer.html"/>
